streamlit
# For the future:
# faiss-cpu # faiss-gpu is a superset of faiss-gpu, so maybe that should be used instead? Or will that cause more errors?
# langchain
# langchain
torch==2.5.1+cu121
transformers
localtunnel
bitsandbytes
huggingface_hub
langchain==0.0.220
